<!-- Kevin Daniel
    July 19, 2018
  -->
<!-- Updated February 10, 2023 - Sai Bommisetty -->

<!-- Launch file to start cam_bridge.py, preprocess image, and processing the line -->

<launch>

    	<!-- Start cam_bridge, img_preprocessing, and process_line -->
	<include file="$(find image_processing)/launch/process_line.launch" />	
	
	<!-- Start the high-level controller for line follower -->
	<node pkg="controllers" type="line_follower.py" name="line_follower" output="screen"/>
        
</launch>
