<!-- Sleiman Safaoui
    June 26, 2018
  -->

<!-- Launch file to start cam_bridge.py, preprocess image, and processing the line -->

<launch>

	<!-- Start cam_bridge and img_preprocessing -->
	<include file="$(find image_processing)/launch/img_preprocessing.launch" />

	<!-- Start the line processor -->
	<node pkg="image_processing" type="process_line.py" name="process_line" output="screen" respawn="true">
		<rosparam command="load" file="$(find image_processing)/config/process_line_params.yml"/>
		<param name="path_to_corners" value="$(find image_processing)/config"/>
	</node>

</launch>
